<div class="">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Clientes</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-10"><i class=" fas fa-people-carry text-primary"></i></h2>
                                    <div class="ml-auto">
                                        <h2 class="mb-0 display-6"><span class="font-normal"><%= current_user.my_clients %></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Ventas</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-10"><i class="fas fa-cart-plus text-purple"></i></h2>
                                    <div class="ml-auto">
                                        <h2 class="mb-0 display-6"><span class="font-normal"><%=current_user.my_sales %></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Open Projects</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-10"><i class="fas fa-building text-danger"></i></h2>
                                    <div class="ml-auto">
                                        <h2 class="mb-0 display-6"><span class="font-normal">311</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">New Invoices</h5>
                                <div class="d-flex align-items-center mb-2 mt-4">
                                    <h2 class="mb-0 display-10"><i class="fas fa-folder-open text-success"></i></h2>
                                    <div class="ml-auto">
                                        <h2 class="mb-0 display-6"><span class="font-normal">117</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                             
            </div>