



<div class="panel panel-success">
  <div class="panel-head">Editando Venta</div>
  <div class="panel-wrapper collapse in">
    <div class="panel-body table-responsive ">
  		<%= render 'form', sale: @sale %>
		<%= link_to 'Show', @sale %> |
		<%= link_to 'Back', sales_path %>

     </div>
  </div>
</div>
