

<div class="">
  
  <div class="panel-wrapper collapse in">
    <div class="panel-body table-responsive ">
  		
	<%= render 'form', sale: @sale %>
	<%= link_to 'Back', sales_path %>

     </div>
  </div>
</div>
